ion-item,
.video-item {
  color: rgb(51, 45, 45);
  cursor: context-menu;
  position: relative;
  display: flex;
  justify-content: space-between;

  .ion-text-wrap {
    display: flex;

    .icon-wrapper {
      cursor: pointer;
      .play-icon,
      ion-icon {
        width: 50px;
      }
    }
  }
}
.preview {
  width: 20vh;
  margin-left: 7vw;
}
